node_modules
.nuxt
.nitro
.output
.data
.cache
dist

# Logs
logs
*.log

# Cypress artifacts
cypress/screenshots
cypress/videos
cypress/downloads

# Misc
.DS_Store
.fleet
.idea
.git

# Local env files
.env
.env.*
!.env.example
